@import '../style/var.scss';

.ca-button {
    box-sizing: border-box;
    display: block;
    height: 60rpx !important;
    padding: 0 20rpx !important;
    margin-bottom: 15rpx !important;
    overflow: hidden;
    font-size: 24rpx !important;
    line-height: 60rpx !important;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: $bg-primary;
    border-radius: 30rpx !important;

    &:disabled,
    &.disabled {
        opacity: 0.5;
    }
}

.ca-scroll {
    height: 100%;
}

.ca-section {
    padding: 20rpx !important;
}

.ca-text {
    padding: 0 15rpx !important;
    font-size: 24rpx;
    line-height: 1.4;
    word-break: break-all;
    white-space: normal;
}

.ca-err {
    padding: 0 15rpx !important;
    font-family: $ft-code;
    font-size: 24rpx;
    line-height: 1.4;
    color: $cr-error;
    word-break: break-all;
    white-space: pre-wrap;
}

.ca-grid,
.ca-component {
    position: absolute;
    top: 100rpx;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ededed !important;
}

.case-tab-panel {
    height: 100%;
}
