@import '../style/var.scss';
@import '../style/reader.scss';

.fc-api-reader-th.fc-show-detail {
    .fc-col-1 {
        width: 100%;

        &::after {
            right: auto;
            left: 30%;
        }
    }

    .fc-col-2,
    .fc-col-3,
    .fc-col-4,
    .fc-col-5 {
        display: none;

        &::after {
            display: none;
        }
    }
}
