@import '../style/var.scss';
@import '../style/icon.scss';

.console-row {
    position: relative;
    box-sizing: border-box;
    min-height: 44rpx;
    padding: 5rpx 15rpx 5rpx 50rpx !important;
    font-size: 0;
    color: $cr-datagrid;
    letter-spacing: 0;
    background-color: #fff;
    border-bottom: 1px solid $bg-bar !important;

    &.is-warn {
        color: $cr-warn;
        background-color: #fff3e0;
        border-bottom-color: #f7e9a3;
    }

    &.is-error {
        color: $cr-error;
        background-color: #fff0f0;
        border-bottom-color: #ffd6d6;
    }

    &.wc-selected {
        position: relative;
        background-color: #ebf5fb;

        &::after {
            position: absolute;
            right: 0;
            bottom: -1px;
            left: 0;
            z-index: 5;
            height: 1px;
            content: '';
        }

        &.is-error::after {
            background-color: #ffd6d6;
        }

        &.is-warn::after {
            background-color: #f7e9a3;
        }

        &.is-info::after,
        &.is-log::after {
            background-color: #ccdef5;
        }

        &.is-log,
        &.is-info {
            border-bottom-color: #ccdef5;
        }
    }
}

.console-wic {
    @include wic;

    position: absolute;

    &.wic-error {
        top: 13rpx;
        left: 18rpx;
        width: 16rpx;
        height: 16rpx;

        &::before,
        &::after {
            z-index: 2;
        }

        .wic-arrow-1 {
            top: -4rpx;
            left: -4rpx;
            z-index: 1;
            width: 24rpx;
            height: 24rpx;
            background-color: $cr-error;
            border-radius: 50%;
        }
    }

    @include ic-error;
    @include ic-warn;
    @include ic-info;

    &.wic-warn,
    &.wic-info {
        left: 10rpx;
        width: 30rpx;
        height: 30rpx;
        font-size: 30rpx;
        line-height: 1;
        text-align: center;
    }
}

.fc-br {
    display: block;
}

.console-item {
    font-size: 22rpx;
    word-break: break-all;
    white-space: pre-wrap;
    display: inline;

    &.type-json {
        display: inline-block;
    }
    &.type-fun {
        display: inline-block;
        font-family: $ft-code;
        font-style: italic;
        &:active,
        &:focus {
            background-color: #fff;
            box-shadow: 0 0 10rpx rgba(128, 128, 128, 0.1);
        }
    }
    &.type-division {
        padding-left: 16rpx !important;
    }
    &.type-nail {
        color: $cr-nail;
    }
    &.type-num,
    &.type-bool {
        color: $cr-num;
    }
}
