@import '../style/var.scss';

.table-cell.wc-nowrap {
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .table-cell-block,
    .table-cell-block-text {
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
