$sep: 10rpx;

.wc-el-boundary,
.wc-el-name,
.wc-el-equal,
.wc-el-attr.wc-el-content,
.wc-el-ellipsis {
    display: inline;
    font-size: 28rpx;
    line-height: 1.4;
    word-break: break-all;
    white-space: normal;
    vertical-align: middle;
}

.wc-el-head {
    padding: 4rpx 0;
    font-size: 0;
    line-height: 0;
    word-break: break-all;
    white-space: normal;

    &.selected {
        background-color: #ebf5fb;
    }
}

.wc-el-head,
.wc-el-body,
.wc-el-footer {
    box-sizing: border-box;
    padding-left: 20rpx;
}

.wc-el-boundary {
    color: #ad9cad;
}

.wc-el-name {
    color: #90258b;
}

.wc-el-attr.wc-el-name {
    margin-left: $sep;
    color: #a15619;
}

.wc-el-equal {
    color: #ad9cad;
}

.wc-el-attr.wc-el-content {
    color: #2525ab;
}

.wc-el-head.has-child {
    position: relative;

    &::before {
        position: absolute;
        top: 16rpx;
        left: 0;
        content: '';
        border-color: transparent;
        border-style: solid;
        border-width: 8rpx 10rpx;
        border-left-color: #565656;
        transition: all 0.3s;
    }

    &.open::before {
        transform: rotate(90deg) translateX(4rpx);
    }
}

.tapable {
    position: relative;

    &::after {
        position: absolute;
        right: 0;
        bottom: 2px;
        left: 0;
        content: '';
        border-bottom: 1px dashed #ad9cad;
    }
}

.wc-el-ellipsis {
    font-size: 80%;
}
